#footer {
   position:fixed;
   left:0px;
   bottom:10px;
   height:30px;
   width:100%;
}

.head {
    height: 64px;
    width: 53px;
}

figure {
  margin: 0;
}

.cover {
    height: 163px;
    width: 163px;
}

label {
  display: block;
  font:
    1rem 'Fira Sans',
    sans-serif;
}

input,
label {
  margin: 0.4rem 0;
}